bam-mule-connector/src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:bam="http://www.mulesoft.org/schema/mule/bam"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/bam http://www.mulesoft.org/schema/mule/bam/1.1/mule-bam.xsd">

    <!-- <processtransactiontracking:config myProperty="Some string"
            username="xxx" password="yyy"/>

    <flow name="testFlow">
        <processtransactiontracking:my-processor content="Another string"/>
    </flow> -->
    
    <!-- <bam:config serviceUrl="http://tomcat.nebulent.com/bam-ws/ws/BamQoSService?wsdl=BAM.wsdl"/> -->
    
    <bam:config serviceUrl="http://localhost:9090/ws/BamQoSService?wsdl=BAM.wsdl"/>

	<flow name="testFlow">
		<set-property value="#[groovy:new Date().format('yyyyMMddHHmmss')]" propertyName="tranId"/>
        <bam:process-transaction-tracking flowUuid="F4_START" transactionUuid="#[header:tranId]" content="content"/>
        <bam:process-transaction-tracking flowUuid="F4_FTIR200_RESPONSE" transactionUuid="#[header:tranId]" content="content"/>
        <bam:process-transaction-tracking flowUuid="F4_END" transactionUuid="#[header:tranId]" content="content"/>
    </flow> 
</mule>
